@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,500;1,400;1,500;1,600&family=Comfortaa:wght@400;700&display=swap');

.home-container{
    background-image: url('../../images/aluminiumwork.jpg');
    min-height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo{
    background: rgba(18, 18, 18, 0.752);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.logo{
    width: 600px;
    height: auto;
    text-shadow: black 1px 1px 5px;
    
}
.header{
    padding-left: 50px;
    padding-right: 50px;
}
.heading{
    display: flex;
    justify-content: center;
    font-family: 'Andada Pro';
    font-style: italic;
}
.content{
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa';
}
.contents{
    /* background-color: #EED6D3; */
}
.box-color{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67595E;
    color: aliceblue;
    min-width: 300px;
    min-height: 50px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.box-color h3{
    margin-bottom: 0;
}
.service-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
}
.active-image{
    width: 75%;
    max-height: 60%  !important;
    border-radius: 15px;
}
.content1{
    font-family: 'Andada Pro';
    display: none;
}
.active-img{
   
}

@media screen and (max-width : 950px) {
    .home-container{
        background-image: url('../../images/aluminiumwork.jpg');
        min-height: 480px;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center ;
        
        

    }
    .header{
        padding-left: 0;
        padding-right: 0;
    }
    .img-logo{
        background: rgba(18, 18, 18, 0.693);
        border-radius: 25px;
        min-height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 300px;
        height: auto;
        text-shadow: black 5px 5px 15px;
    }
    .content{
        display: none;
    }
    .content1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: auto;
        padding: 10px;
        font-size: xx-small;
        text-align: center;
    }
    .icon-img{
        width: 100%;
        height: auto;
    }
    .service-info1{
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-y: hidden;
    }
    .service-details1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-left: 15px;
        margin-right: 15px;
    }
    .active-image1{
        
        border-radius: 15px !important;
    }
     button:nth-child(1){
        width: 8px !important;
        height: 8px !important;
    }
    
    
}