@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,500;1,400;1,500;1,600&family=Comfortaa:wght@400;700&display=swap');

.ServiceList-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EED6D3;
    
    
}
.ServiceList-heading{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    font-family: 'Andada Pro';
    font-style: italic;

}
.ServiceList-contents{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Andada Pro';
}
.ServiceList{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.Service-pic{
    max-width: 300px;
    max-height: 250px;
    border-radius: 15px;
}